@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #333333;
}

.container {
    display: flex;
    transform: all 1s;
    justify-content: center;
    background-color: white;
    transform-origin: top left;
    transition: transform 1s linear;
}

.context {
    margin: 50px auto;
    max-width: 1200px;
    padding: 40px 20px;
}

.context img {
    max-width: 100%;
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #ff7979;
    position: relative;
    /* 使圆盘具有过渡特性 ， 后面旋转时会触发 */
    transition: transform 1s linear;
}

.circle button {
    border: none;
    font-size: 26px;
    background-color: inherit;
    color: white;
    height: 100px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;

}


.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;

}

/* 链接容器 */

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: transparent;
    color: white;
    margin: 30px;
    transition: transform 1s linear;
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav i {
    width: 20px;
    height: 20px;
    margin: 20px;

}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    color: #FF7979;
    font-weight: bold;
}

nav li {
    transition: transform 1s linear;
    transform: translateX(-100%);
}

nav li+li {
    margin-left: 10px;
    transform: translateX(-100%);

}

nav li+li+li {
    margin-left: 20px;
    transform: translateX(-100%);
}

/* 点击事件触发后，显示的事件 */

.container.rotate {
    transform: rotate(-20deg);
    transform: all 1s;
}

.circle-container.rotate .context {
    overflow: hidden;
    height: 100vh;
}

.container.rotate .circle {
    transform: rotate(-80deg);
}

.container.rotate+nav li {
    transform: translateX(0px);
    transition: transform 1s linear;
}