* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.process-container {
    display: flex;
    height: 30px;
    width: 360px;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}

.process-container::before {
    content: "";
    width: 360px;
    height: 5px;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(50%);
    z-index: -1;
}

.process {
    width: 0px;
    height: 5px;
    background-color: skyblue;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(50%);
    z-index: -1;
    transition: all 1s;
}

.stage {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 5px solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all 1s;
}

.active {
    border-color: skyblue;
    transition: all 1s;
}

.btn {
    background-color: skyblue;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 30px;
    border: none;
    border-radius: 6px;
    margin: 10px;

}

/*  增加按钮disabled伪类 样式 
    被禁用按钮的样式 */
.btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}